@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: aptos-black;
  src: url(./assets/fonts/aptos-black.ttf);
}

@font-face {
  font-family: aptos-bold;
  src: url(./assets/fonts/aptos-bold.ttf);
}
@font-face {
  font-family: aptos-extrabold;
  src: url(./assets/fonts/aptos-extrabold.ttf);
}

@font-face {
  font-family: aptos-light;
  src: url(./assets/fonts/aptos-light.ttf);
}

@font-face {
  font-family: aptos-semibold;
  src: url(./assets/fonts/aptos-semibold.ttf);
}

@font-face {
  font-family: aptos;
  src: url(./assets/fonts/aptos.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: aptos;
  font-display: swap;
}

p,
span {
  font-size: 1rem;
  font-family: aptos-light;
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(
      to right,
      #a855f7,
      #ec4899,
      #eab308,
      #ec4899,
      #a855f7,
      #eab308
    );
    background-size: 300% 300%;
    background-clip: text; /* apply background clip */
    -webkit-text-fill-color: transparent;
  }

  .gradient {
    background: linear-gradient(
      to right,
      #a855f7,
      #ec4899,
      #eab308,
      #ec4899,
      #a855f7,
      #eab308
    );
    background-size: 300% 300%;
  }
}

@media print {
  .print-custom {
    color: black !important;
  }
}
